<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="RecentViewFolder" value="" />
    <add key="RecentViewFolders" value="" />-->
    <add key="RecentViewFolder" value="c:\Temp" />
    <add key="RecentViewFolders" value="c:\users\luciano.d.campana\documents\visual studio 2013\projects\MakerBaseImageEditor\bin\debug;c:\Temp" />
    <add key="RecentFiles" value="" />
    <add key="RecentStyle" value="" />
  </appSettings>
</configuration>